body {
    /* Workaround for some mobile browsers */
  /*  min-height:100%; */
}

nav .navbar-toggler .navbar-toggler-icon {

}

.navbar-inner {
    background:transparent;
}

.nav-link{
    color: white !important;
    font-size: 19px;
}
.navbar-light .navbar-brand {
    color: white;
}

.navbar-toggler {
    border-color: #ffffff !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>") !important;
}

.navbar-brand{
    color:white;
    font-size: 49px;
}

#headerSection {
    background-size: cover;

    color:white;
    background:url('../images/bridge-1660417_1920.jpg') no-repeat center fixed;
    background-size:cover;

}

#headerSection .overlay {
    background-color: rgba(0, 0, 0, .2);
    padding: 100px 0;
}

p{
    font-size: 20px;
}

.btn.btn-our-works
{
    height: 60px;
    width: 220px;
    background-image:linear-gradient(to left,#8A0BDB,#00FFBA);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:31px;
    border: 0;
    margin-top: 60px;
}

.black{
    height: 46px;
    width: 206px;
    background-color:black;
    border-radius:22px;
    margin-top: 7px;
    margin-left:7px;
    line-height: 46px;

}
.text-light{
    font-size:15px;
}

/* features section*/

.container .col-lg-4{
    margin-top: 30px;
    padding-right: 80px;
    padding-bottom:34px;
    float: left;
}
.features-content{
    font-size: 13px;
    color:#707070;
}

.icons{
    padding-right:34px;
}

/*AboutUs Section */

.aboutUsRight{
   margin-inside: 23px;
}

.aboutUsLeft {
    background:url('../images/workspace.jpg'),no-repeat center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:740px;
    position: relative;

}
.aboutUsLeft .overlay {
    background-color:rgba(255, 102, 204,.2);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.aboutUs{
    color: #95989A;

}
.aboutUsContent{
    font-size: 20px;
    color:#95989A;
}
.aboutUsContent2{
    font-size: 16px;
    color:#95989A;
}
.grad1{

    width: 48px;
    height: 2px;
    margin-top: 13px;
    margin-right:20px;
    background-image:linear-gradient(to left,#8A0BDB,#00FFBA);

}

.grad2{
    width: 80%;
    height: 7px;
    background-image:linear-gradient(to left,#8A0BDB,#00FFBA);

}
.grad3{

    width: 50%;
    height: 7px;
    background-image:linear-gradient(to left,#8A0BDB,#00FFBA);

}
.grad4{

    width: 60%;
    height: 7px;
    background-image:linear-gradient(to left,#8A0BDB,#00FFBA);

}
.grad5{
    width: 40%;
    height: 7px;
    background-image:linear-gradient(to left,#8A0BDB,#00FFBA);

}
.grad2.text-dark{
 display:inline-flex;
}


/* portfolioSection*/

#porfolio{
    padding-top: 50px;
    padding-bottom: 50px;
}
#portfolio .col-md-4 {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.content {
    position: relative;
    margin: auto;
    overflow: hidden;
}

.content .content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    left: 10px;
    top: 10px;
    bottom: 10px;
    right: 10px;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    border: 1px solid #fff;
}

.content:hover .content-overlay{
    opacity: 1;

}

.content-image{
    width: 100%;
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
}

.content-details h3{
    color: #fff;
    font-weight: 500;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}
.content-details .content-title{
    color: #fff;
    font-weight: 500;
    margin-bottom: 0.5em;

}
.content-details p {
    color: #fff;
    font-size: 0.8em;
}

.fadeIn-bottom{
    top: 80%;
}

.btn.btn-load-more
{
    height: 60px;
    width: 220px;
    background-image:linear-gradient(to left,#8A0BDB,#00FFBA);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:31px;
    border: 0;
}

/*JUMBUTRON SECTİON */

.content-image {
    float: left;
}
.img-fluid .rounded-circle {

    border: 1px solid #000000;
    border-radius: 100%;

}


.carousel-inner,.carousel,.carousel-item,.container,.fill {
    height:100%;
    width:100%;
    background-position:center center;
    background-size:cover;
}
.slide-wrapper{display:inline;}
.slide-wrapper .container{padding:0;}


/*------------------------------ vertical bootstrap slider----------------------------*/

.carousel-inner> .carousel-item.carousel-item-next ,
.carousel-inner > .carousel-item.active.carousel-item-right{
    transform: translate3d(0, 100%, 0); -webkit-transform: translate3d(0, 100%, 0); -ms-transform: translate3d(0, 100%, 0); -moz-transform: translate3d(0, 100%, 0); -o-transform: translate3d(0, 100%, 0);  top: 0;

}
.carousel-inner > .carousel-item.carousel-item-prev ,
.carousel-inner > .carousel-item.active.carousel-item-left{
    transform: translate3d(0,-100%, 0); -webkit-transform: translate3d(0,-100%, 0);  -moz-transform: translate3d(0,-100%, 0);-ms-transform: translate3d(0,-100%, 0); -o-transform: translate3d(0,-100%, 0); top: 0;

}
.carousel-inner > .carousel-item.next.carousel-item-left ,
.carousel-inner > .carousel-item.carousel-item-prev.carousel-item-right ,
.carousel-inner > .carousel-item.active{
    transform:translate3d(0,0,0); -webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);; -moz-transform:translate3d(0,0,0); -o-transform:translate3d(0,0,0); top:0;

}

/*------------------------------- vertical carousel indicators ------------------------------*/
.carousel-indicators{
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
    height:15px;
    width: 15px;
    border-radius: 7px;
    right:10px; left:auto;
    width:auto;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.carousel-indicators li{
    display:block; margin-bottom:5px; border:1px solid white;
    height:15px;
    width: 15px;
    border-radius:7px;
    background:none;

}
.carousel-indicators li.active{
    margin-bottom:5px; background:#00a199;

}

#jumbutron{
    background:url('../images/workplace-1245776_1920.jpg'),no-repeat center fixed;
    background-size: cover;
    background-position:center;
    color:white;
}
#jumbutron .overlay {
    background-image:linear-gradient(to left, rgba(138, 11, 219, 0.7), rgba(0, 255, 186, 0.51));
}

/* CART SECTİON*/

@media (min-width: 768px) {
    html {
        font-size: 15px;
    }
}

.container {
    max-width: 960px;
}

.card-deck .card {
    min-width: 220px;
    border-radius: 0;
    background-image: none;
    position: relative;
    z-index: 2;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border:3px #8A0BDB solid ;
}

.card-deck .card:hover {
    border: 1px solid transparent;
    color:white;

}
.card-deck .card-headers .card:hover {
    color:white;
}

.card-deck .card .overlayButton{
    background-image:linear-gradient(#00FFBA,#8A0BDB);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    border: 1px solid #ffffff;
    z-index: -1;
    text-decoration-color: #8A0BDB;
}
.card-deck .card:hover .overlayButton{
    opacity: 1;


}

.font-weight-normal {
    color:#8A0BDB;
    font-size: 28px;
}

.pricing-card-title{
    color:#8A0BDB;
    font-size:34px;
}


.btn.btn-buy-now
{
    height: 56px;
    width: 184px;
    background-image:linear-gradient(to left,#8A0BDB,#00FFBA);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:31px;
    border: 0;
    margin-top: 30px;
    max-width: 100%;
}

.black-buy-now{
    height: 41px;
    width: 169px;
    background-color:black;
    border-radius:22px;
    margin-top: 7px;
    margin-left:7px;
    line-height: 46px;
    max-width: 90%;

}


.card-deck .card:hover .black-buy-now{
    background-color: white;
    color:#8A0BDB !important;
    font-weight: bold;

}


.subfooter{
    background-color: black;
}

.footer{
    width: 100%;
    height: 350px;
}

.name {
    height: 35px;
    width: 135px;
    border-radius: 4px;

}
.surname {
    border-radius: 4px;
    height: 35px;
    width: 229px;
}

.footer-btn{
    color: #ffffff;
    background-color: #00FFBA;
}
